.checkout{
    &-card{
        background-color: $dark-100;
        margin-bottom: .75rem;
        border-radius: .5rem;
        padding: 1rem;
    }
    &-item{
        display: flex; 
        align-items: flex-start;
        .textbox{
            margin-left: 1rem;
            flex-grow: 1;
        }
        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }
}